<div class="dashboard">
        <div class="recent">
            <span class="flex-title">Recent Orders</span>
            <div class="table">
                <table>
                    <thead>
                      <tr>
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Total Amount</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>01</td>
                        <td>Charmine Ocampo</td>
                        <td>Tulips</td>
                        <td>2</td>
                        <td>100</td>
                      </tr>

                      <tr>
                        <td>02</td>
                        <td>Hanz Fernando</td>
                        <td>7Tulips</td>
                        <td>3</td>
                        <td>200</td>
                      </tr>

                      <tr>
                        <td>02</td>
                        <td>Hanz Fernando</td>
                        <td>7Tulips</td>
                        <td>3</td>
                        <td>200</td>
                      </tr>

                      <tr>
                        <td>02</td>
                        <td>Hanz Fernando</td>
                        <td>7Tulips</td>
                        <td>3</td>
                        <td>200</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <!-- top purchased table -->
    <div class="container-row">
        <div class="best">
            <span class="flex-title">Top Purchased Product</span>
            <div class="table">
                <table>
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Product Sold</th>
                        <th>Stock</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Tulips</td>
                        <td>Flowers</td>
                        <td>59</td>
                        <td>75</td>
                      </tr>

                      <tr>
                        <td>Tulips</td>
                        <td>Flowers</td>
                        <td>59</td>
                        <td>75</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>

        <div class="categories">
            <span class="cat-title">Order Sales</span>

            <div class="order-one">
            <div class="cat1">
                <div class="cat-nums">
                <span class="keychain-num">45</span>
            </div>
                <div class="cat-text">
                <span class="keychain">Keychains</span>
                </div>
        </div>

        <div class="cat2">
            <div class="cat-nums">
            <span class="flower-num">55</span>
        </div>
            <div class="cat-text">
            <span class="keychain">Flower</span>
            </div>
    </div>
    </div>

    <div class="order-two">
            <div class="cat3">
                <div class="cat-nums">
                <span class="accesories-num">45</span>
            </div>
                <div class="cat-text">
                <span class="keychain">Accesories</span>
                </div>
        </div>

        <div class="cat4">
            <div class="cat-nums">
            <span class="others-num">45</span>
        </div>
            <div class="cat-text">
            <span class="keychain">Others</span>
            </div>
    </div>
    </div>
        </div>
        </div>