<div class="orderReport">
        <div class="record">
        <div class="total">
            <div class="inside">
            <div class="num">
                <span class="totalNum">20</span>
            </div>
            <div class="text">
                <span class="totalOrders">Total Orders</span>
            </div>
        </div> 
        </div>

        <div class="total">
            <div class="inside">
            <div class="num">
                <span class="cancelNum">2</span>
            </div>
            <div class="text">
                <span class="cancel">Cancelled Orders</span>
        </div>
        </div>
    </div>

    <div class="total">
        <div class="inside">
        <div class="num">
            <span class="returnNum">0</span>
        </div>
        <div class="text">
            <span class="return">Returned Orders</span>
    </div>
    </div>
    </div>
</div>
    <!-- table -->
    <div class="table">
        <table>
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Quantity Sold</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>01</td>
                <td>Sunflowe Keychain</td>
                <td>56</td>
              </tr>

              <tr>
                <td>02</td>
                <td>Sunflowe Keychain</td>
                <td>72</td>
              </tr>

            </tbody>
          </table>
        </div>
    </div>