<div class="sales">
        <div class="total-revenue">
            <div class="total">
                <div class="inside">
                    <div class="text">
                        <span class="revenue">Total Revenue</span>
                    </div>
                <div class="num">
                    <span class="totalRevenue">PHP 1500.00</span>
                </div>

            </div>

            <div class="row">
                <div class="one">
                    <div class="inside">
                        <div class="num">
                            <span class="totalTransaction">150</span>
                        </div>
                        <div class="text">
                            <span class="transaction">Total Transactions</span>
                        </div>
                </div> 
                </div>

                <div class="two">
                    <div class="inside">
                        <div class="num">
                            <span class="totalProduct">PHP 3000.00</span>
                        </div>
                        <div class="text">
                            <span class="product-sales">Total Product Sales</span>
                        </div>
                </div> 
                </div>

                <div class="three">
                    <div class="inside">
                        <div class="num">
                            <span class="totalProduct">200</span>
                        </div>
                        <div class="text">
                            <span class="revenue">Products Sold</span>
                        </div>
                </div> 
                </div>
            </div> 
            </div>
    </div>

    <div class="table">
        <table>
            <thead>
              <tr>
                <th>Transaction ID</th>
                <th>Product Name</th>
                <th>Quantity Sold</th>
                <th>Product Sales</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>01</td>
                <td>Sunflower Keychain</td>
                <td>56</td>
                <td>100</td>
              </tr>

              <tr>
                <td>02</td>
                <td>Sunflower Keychain</td>
                <td>72</td>
                <td>300</td>
              </tr>

            </tbody>
          </table>
        </div>

    </div>