@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login">
<div class="logo">
        <img src="images/finlogo.svg" id="logo">
</div>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form asp-action="Login" asp-controller="Login" method="post"> 
                <h1>Sign In</h1>
                <input type="email" placeholder="Username">
                <input type="password" placeholder="Password">
                <button>Sign In</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form asp-action="Login" asp-controller="Login" method="post">
                <h1>Sign In</h1>
                <input type="email" placeholder="Username">
                <input type="password" placeholder="Password">
                <button>Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Crochet with us!</h1>
                    <p>This panel is exclusively designated for administrator log in.</p>
                    <button class="hidden" id="login">Administrator</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Crochet with us!</h1>
                    <p>This panel is designated for staff members to log in.</p>
                    <button class="hidden" id="register">Staff</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>