<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ordering_and_sales_system</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ordering_and_sales_system.css" asp-append-version="true" />
</head>
<body>
    <div>
        <nav class="navbar">
            <div class="logo">
                <img src="~/images/logo.svg">
            </div>

            <div class="nav-items">
                <ul class="nav-links">
                    <li class="item-link active">
                        <a href="#">
                            <span class="text1 nav-text">About</span>
                        </a>
                    </li>

                    <li class="item-link active">
                        <a href="#">
                            <span class="text nav-text">Administrator</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="content">
        <div class="sidebar">


            <div class="title">MAIN MENU</div>
            <div class="menu">
                <ul class="items">
                    <li class="item-link">
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <g clip-path="url(#clip0_1222_37249)">
                                  <path d="M13.5 6.94C13.501 6.8012 13.473 6.66372 13.4179 6.53632C13.3628 6.40892 13.2818 6.29438 13.18 6.2L7.00002 0.5L0.820023 6.2C0.718248 6.29438 0.637236 6.40892 0.582143 6.53632C0.52705 6.66372 0.499084 6.8012 0.500023 6.94V12.5C0.500023 12.7652 0.60538 13.0196 0.792916 13.2071C0.980452 13.3946 1.23481 13.5 1.50002 13.5H12.5C12.7652 13.5 13.0196 13.3946 13.2071 13.2071C13.3947 13.0196 13.5 12.7652 13.5 12.5V6.94Z"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M7 13.5V9.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1222_37249">
                                    <rect width="14" height="14" fill="white"/>
                                  </clipPath>
                                </defs>
                              </svg>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="item-link">
                        <a asp-area="" asp-controller="Home" asp-action="Inventory">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <g clip-path="url(#clip0_1222_30367)">
                                  <path d="M7 0.5V4.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M0.5 4.5H13.5V12.5C13.5 12.7652 13.3946 13.0196 13.2071 13.2071C13.0196 13.3946 12.7652 13.5 12.5 13.5H1.5C1.23478 13.5 0.98043 13.3946 0.792893 13.2071C0.605357 13.0196 0.5 12.7652 0.5 12.5V4.5Z"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M0.5 4.5L2 1.61C2.16171 1.28427 2.40917 1.0088 2.71576 0.813215C3.02235 0.617632 3.37646 0.509344 3.74 0.5H10.26C10.6321 0.500197 10.9967 0.604188 11.313 0.800279C11.6292 0.996371 11.8844 1.27679 12.05 1.61L13.5 4.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M9.5 9H4.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M7 6.5V11.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1222_30367">
                                    <rect width="14" height="14" fill="white"/>
                                  </clipPath>
                                </defs>
                              </svg>
                            <span class="text nav-text">Inventory</span>
                        </a>
                    </li>

                    <li class="item-link">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <g clip-path="url(#clip0_1222_37202)">
                                  <path d="M2 10V8C2 7.73478 2.10536 7.48043 2.29289 7.29289C2.48043 7.10536 2.73478 7 3 7H11C11.2652 7 11.5196 7.10536 11.7071 7.29289C11.8946 7.48043 12 7.73478 12 8V10"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M7 4V10"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M5.5 2V3C5.5 3.55228 5.94772 4 6.5 4H7.5C8.05228 4 8.5 3.55228 8.5 3V2C8.5 1.44772 8.05228 1 7.5 1H6.5C5.94772 1 5.5 1.44772 5.5 2Z"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M5.5 11V12C5.5 12.5523 5.94772 13 6.5 13H7.5C8.05228 13 8.5 12.5523 8.5 12V11C8.5 10.4477 8.05228 10 7.5 10H6.5C5.94772 10 5.5 10.4477 5.5 11Z"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M0.5 11V12C0.5 12.5523 0.947715 13 1.5 13H2.5C3.05228 13 3.5 12.5523 3.5 12V11C3.5 10.4477 3.05228 10 2.5 10H1.5C0.947715 10 0.5 10.4477 0.5 11Z"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M10.5 11V12C10.5 12.5523 10.9477 13 11.5 13H12.5C13.0523 13 13.5 12.5523 13.5 12V11C13.5 10.4477 13.0523 10 12.5 10H11.5C10.9477 10 10.5 10.4477 10.5 11Z"  stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1222_37202">
                                    <rect width="14" height="14" fill="white"/>
                                  </clipPath>
                                </defs>
                              </svg>
                            <span class="text nav-text">Transaction</span>
                            <svg id="dropdown" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 7 4" fill="none">
                                <path d="M6 1L3.5 3.5L1 1"  stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="PendingOrders">
                                    <span class="text">Pending Orders</span>
                                </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="TransactionHistory">
                                    <span class="text">Transaction History</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="item-link">
                        <a asp-area="" asp-controller="Home" asp-action="Customer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <path d="M5 6.5C6.38071 6.5 7.5 5.38071 7.5 4C7.5 2.61929 6.38071 1.5 5 1.5C3.61929 1.5 2.5 2.61929 2.5 4C2.5 5.38071 3.61929 6.5 5 6.5Z"  stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M0.5 13.5001H5H9.5V12.958C9.49204 12.1958 9.29102 11.448 8.91573 10.7846C8.54043 10.1211 8.0031 9.56362 7.35393 9.16413C6.70475 8.76463 5.96491 8.5362 5.20352 8.50015C5.13564 8.49694 5.06778 8.49526 5 8.49512C4.93222 8.49526 4.86436 8.49694 4.79648 8.50015C4.03509 8.5362 3.29525 8.76463 2.64607 9.16413C1.9969 9.56362 1.45957 10.1211 1.08427 10.7846C0.708977 11.448 0.507961 12.1958 0.5 12.958V13.5001Z"  stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9 6.5C10.3807 6.5 11.5 5.38071 11.5 4C11.5 2.61929 10.3807 1.5 9 1.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.5 13.5002H13.5V12.958C13.492 12.1958 13.291 11.448 12.9157 10.7846C12.5404 10.1211 12.0031 9.56364 11.3539 9.16415C10.9343 8.9059 10.4767 8.71914 10 8.60962"  stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            <span class="text nav-text">Customer</span>
                        </a>
                    </li>

                    <li class="item-link">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <g clip-path="url(#clip0_1222_32224)">
                                  <path d="M0.5 0.5V13.5H13.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M3.5 6.5L6 9L10 3L13.5 5.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1222_32224">
                                    <rect width="14" height="14" fill="white"/>
                                  </clipPath>
                                </defs>
                              </svg>
                            <span class="text nav-text">Reports</span>
                            <svg id="dropdown" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 7 4" fill="none">
                                <path d="M6 1L3.5 3.5L1 1"  stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="OrderReport">
                                    <span class="text">Order Report</span>
                                </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="SalesReport">
                                    <span class="text">Sales Report</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <div class="signout">
                        <div class="title">ACCOUNT</div>
                        <div class="out">
                            <li class="item-link">
                                <a asp-area="" asp-controller="Login" asp-action="Login">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                        <g clip-path="url(#clip0_1222_37448)">
                                          <path d="M9.5 10.5V12.5C9.5 12.7652 9.39464 13.0196 9.20711 13.2071C9.01957 13.3946 8.76522 13.5 8.5 13.5H1.5C1.23478 13.5 0.98043 13.3946 0.792893 13.2071C0.605357 13.0196 0.5 12.7652 0.5 12.5V1.5C0.5 1.23478 0.605357 0.98043 0.792893 0.792893C0.98043 0.605357 1.23478 0.5 1.5 0.5H8.5C8.76522 0.5 9.01957 0.605357 9.20711 0.792893C9.39464 0.98043 9.5 1.23478 9.5 1.5V3.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M13.5 7H5.5"  stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M7.5 5L5.5 7L7.5 9"  stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                          <clipPath id="clip0_1222_37448">
                                            <rect width="14" height="14" fill="white"/>
                                          </clipPath>
                                        </defs>
                                      </svg>
                                    <span class="text nav-text">Sign Out</span>
                                </a>
                            </li>
                        </div>
                    </div>

                </ul>
            </div>

        </div> 

        <div class="container">
            <main role="main" class="pb-3 renderBody">
                @RenderBody()
            </main>
        </div>

    </div>




     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
        integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
        crossorigin="anonymous"></script>
    <script src="site.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
